<footer>
    <div class="learn">
        <h2 class="p-10 m-10">Start Learning Today!</h2>
      
        <p [ngStyle]="{'line-height': '1.8rem'}">Purus sodales commodo et sit mauris est facilisis molestie eget ut <br> turpis nisi vestibulum morbi vivamus.</p>
        <button (click)="onFooterBtnClick()">Start Learning Now</button>

    </div>
 
    <div class="flex w-100 first bet flex-wrap">
            <div class="flex flex-column p-10" [ngStyle]="{'gap': '50px'}">
                <img src="assets/images/logo.svg" width="40" height="40" alt="">
                <p>Copyright © 2025 eCourse<br> Powered by eCourse </p>
            </div> 
         
            <div>
                <h2>Learn</h2>
                <ul>
                    <li (click)="onFooterBtnClick()"><a href="">Introduction</a></li>
                    <li (click)="onFooterBtnClick()"><a href="">Working</a></li>
                    <li (click)="onFooterBtnClick()"><a href="">Validating</a></li>
                    <li (click)="onFooterBtnClick()"><a href="">Testing</a></li>
                </ul>
            </div>
    
        <div>
            <h2>About</h2>
            <ul>
                <li (click)="onFooterBtnClick()">About me</li>
                <li (click)="onFooterBtnClick()">Certificate</li>
                <li (click)="onFooterBtnClick()">Testimonials</li>
                <li (click)="onFooterBtnClick()">Get in touch</li>
            </ul>
        </div>

        <div class="flex flex-column gap-25">
             <h2>Newsletter</h2>
            <input type="email" placeholder="Email address">
            <button (click)="onFooterBtnClick()">Subscribe</button>
        </div>
    </div>
    

    <div class="second flex bet">
        <div class="flex" [ngStyle]="{'gap': '30px', 'align-items': 'last baseline'}">
            <a (click)="onFooterBtnClick()" href="">Privacy</a>
            <a (click)="onFooterBtnClick()" href="">Terms</a>
        </div>
        <div class="flex bet" [ngStyle]="{'gap': '20px'}">
           <i data-lucide="twitter" fill="white" stroke-width="1"></i>
           <i data-lucide="facebook" fill="white" stroke-width="1"></i>
           <i data-lucide="linkedin" fill="white" stroke-width="1"></i>
        </div>
    </div>

</footer>