
footer{
    background-color: var(--bg-footer);
    width: 100vw;
    color: white;
}
button{
    font-weight: 500;
    border-radius: 50px;
    padding: 15px 25px;
    width: max-content;
    background: none;
    border: solid 0.5px transparent;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}
button:hover{
    border-color: gray;
}
input{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}
ul{
    padding-top: 20px;
}
li{
    padding: 5px 0;
}
.first{
    padding: 80px;
    border-bottom: solid 0.1px rgba(70, 70, 70, 0.384);
}
.second{
    padding: 50px 80px;
}
.learn{
    background: var(--bg-learn);
    text-align: center;
    padding: 100px;
    color: gray;
    font-size: 1.1em;
}
.first div{
    width: 20%;
}
.learn button{
    padding: 15px 25px;
    margin: 10px auto;
    background-color: var(--bg-footer);
    transform: scale(0.85);
}
@media (max-width:800px) {
    .first div{
        width: 50%;
        padding: 20px;
    }
    .first{
        padding: 20px;
    }
}

@media (max-width:550px) {
    .first div{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .first{
        padding: 20px;
    }
    .first button{
        display: block;
        margin: auto;
    }
    .second{
        padding-inline: 40px;
    }
    img{
        display: block;
        margin: auto;
    }
}

