<nav>
    <div class="navbar-root">
        <div class="navbar-flex">
            <div class="navbar-links-container">
                <div class="navbar-logo">
                    <img src="logo.svg" alt="">
                </div>
                <div [class.hidden]="isOpenMenu" class="navbar-menu">
                    <ul class="navbar-list">
                        <li><a>Home</a></li>
                        <li><a>Lessons</a></li>
                        <li><a>About</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </div>
            </div>
            <button class="navbar-get-started">Get started</button>
            <button class="navbar-burger" (click)="toggleActiveMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </div>
</nav>