<nav class="py-5 top-0 bg-pink-50 left-0 w-full">
    <div class="py-8 px-5 lg:px-32">
        <div class="flex justify-between items-center relative">
            <div class="lg:flex lg:items-center gap-10">
                <div>
                    <img class="" src="logo.svg" alt="">
                </div>
                <div [class.hidden]="isOpenMenu" class="w-screen bg-white absolute top-[64px] left-[-20px] lg:block lg:static lg:bg-inherit lg:w-fit">
                    <ul class="lg:flex items-center gap-5">
                        <li class="py-3 pl-6 font-semibold cursor-pointer"><a routerLink="">Home</a></li>
                        <li class="py-3 pl-6 font-semibold"><a routerLink="/lessons">Lessons</a></li>
                        <li class="py-3 pl-6 font-semibold"><a routerLink="/about">About</a></li>
                        <li class="py-3 pl-6 font-semibold"><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <button class="navbar-get-started">Get started</button>
            <button class="navbar-burger" (click)="toggleActiveMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </div>
</nav>