<div class="contact-bg contact-pt">
    <div class="contact-container">
        <div class="contact-left">
            <h1 class="contact-title">Get in Touch</h1>
            <p class="contact-desc">Morbi felis massa enim ut vitae egestas purus commodo quis vitae iaculis nullam sit est proin netus amet facilisis.</p>
            <div>
                <app-adress-component
                    *ngFor="let a of adresses" [adress]="a"
                >
                </app-adress-component>
                <hr class="contact-hr">
                <div>
                    <h5 class="contact-social-title">Social Media</h5>
                    <div class="contact-social-list">
                        <span>
                            <a href=""><i class="fab fa-medium contact-social-icon"></i></a>
                        </span>
                        <span>
                            <a href=""><i class="fab fa-twitter contact-social-icon"></i></a>
                        </span>
                        <span>
                            <a href=""><i class="fab fa-facebook contact-social-icon"></i></a>
                        </span>
                        <span>
                            <a href=""><i class="fab fa-linkedin contact-social-icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <form class="contact-form">
            <h1 class="contact-form-title">Send a Message</h1>
            <div class="contact-form-group">
                <label for="name">Name<span class="contact-required">*</span></label>
                <input type="text" id="name" class="contact-input">
            </div>
            <div class="contact-form-group">
                <label for="email">Email<span class="contact-required">*</span></label>
                <input type="email" id="email" class="contact-input">
            </div>
            <div class="contact-form-group">
                <label for="comment">Comment or Message<span class="contact-required">*</span></label>
                <textarea name="comment" id="comment" class="contact-input"></textarea>
            </div>
            <button class="contact-submit">Submit</button>
        </form>
    </div>
    <div>
        <div class="embed-map-fixed">
            <div class="embed-map-container">
                <iframe class="embed-map-frame" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&height=400&hl=en&q=University%20of%20Oxford&t=&z=14&ie=UTF8&iwloc=B&output=embed"></iframe><a href="https://sprunkiretake.net" style="font-size:2px!important;color:gray!important;position:absolute;bottom:0;left:0;z-index:1;max-height:1px;overflow:hidden">sprunki retake</a>
            </div>
            <style>.embed-map-fixed{position:relative;text-align:right;max-width:100vw;height:500px;}.embed-map-container{overflow:hidden;background:none!important;width:100%;height:100%;}.embed-map-frame{width:100%!important;height:100%!important;}
            </style>
        </div>
    </div>
</div>