<div>
    <div>
        <h1>Get in Touch</h1>
        <p>Morbi felis massa enim ut vitae egestas purus commodo quis vitae iaculis nullam sit est proin netus amet facilisis.</p>
        <div>
            <div>
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                <h5>Adress</h5>
                <p>123 Demo Avenue, New York, NY 10160, United States</p>
            </div>
            <div>
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                <h5>Adress</h5>
                <p>123 Demo Avenue, New York, NY 10160, United States</p>
            </div>
            <div>
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                <h5>Adress</h5>
                <p>123 Demo Avenue, New York, NY 10160, United States</p>
            </div>
        </div>
    </div>

</div>