<footer>
    <div class="flex bet w-100 first">
        <div>
            <img src="" alt="">
            <p>Copyright © 2025 eCourse<br> Powered by eCourse </p>
        </div>
    
        <div>
            <h2>Learn</h2>
            <ul>
                <li><a href="">Introduction</a></li>
                <li><a href="">Working</a></li>
                <li><a href="">Validating</a></li>
                <li><a href="">Test</a></li>
            </ul>
        </div>
    
        <div>
            <h2>About</h2>
            <ul>
                <li>About me</li>
                <li>Certificate</li>
                <li>Testimonials</li>
                <li>Get in touch</li>
            </ul>
        </div>

        <div class="flex flex-column" style="gap: 30px;">
            <h2>Newsletter</h2>
            <input type="email" placeholder="Email address">
            <button>Subscribe</button>
        </div>
    </div>

    <div class="second flex bet">
        <div class="flex" style="gap:30px;">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>

        <div>
            
        </div>
    </div>

</footer>