button{
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 20px;
    width: max-content;
    background: var(--bg-footer);
    border: solid 0.5px transparent;
    transition: 0.5s;
    font-weight: 600;
    color: white;
}
.text{
    color: gray;
    line-height: 1.8rem;
    font-size: 1.05rem;
}
.highlights{
    position: relative;
    justify-content: center;
    width: 100vw;
    padding: 500px 0;
}
.highlights::before{
    content: "";
    position: absolute;
    background: linear-gradient(to left,rgba(187, 165, 20, 0.388) 20%,rgba(245, 245, 245, 0.49));
    width: 800px;
    height: 800px;
    border-radius: 100%;
    top: 250px;
    left: -200px;
    z-index: -1;
    filter: brightness(1.3);
    transform: rotateZ(20deg);
}
img{
    width: 100%;
}
.second{
    width: 35%; 
    font-size: 1.1em;
}
@media (max-width:800px) {
    .highlights{
        display: block;
        margin: auto;
    }
    .first, .second{
        width: max-content;
        margin: auto;
    }
    .second{
        width: 60%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
}