<div class="highlights flex gap-40">
    <div class="w-mc">
        <img class="round-20" src="assets/images/ecourse-template-beginner-friendly-img.jpg" alt="">
    </div>
    
    <div class="flex flex-column gap-10 p-10" style="width: 30%;">
        <h1 class="w-mc">Beginner Friendly</h1>

        <p class="text">Auctor pretium, sit vulputate diam egestas mauris, urna scelerisque dignissim volutpat purus velit lacus, vitae volutpat lacus amet quisque integer in urna adipiscing diam tincidunt enim vestibulum maecenas laoreet aliquam sed porttitor.</p>

        <button class="flex align-c" style="gap:15px;">Get started <i data-lucide="arrow-right" stroke="gray" transform="scale(0.8)"></i></button>
    </div>
</div>