<app-navbar/>
<div class="bg-pink-50 flex md:flex-row p-5 flex-col gap-4 ">
        <h1 class="text-7xl font-bold pl-15  w-[50%] md:w-[100%]">Lessons</h1>
        <div class="mb-4 flex flex-col gap-4">
            <span class="block w-16 h-[1px] my-5 rounded-md bg-black"></span>
            <div class="">
                <p class="text-md text-gray-500 leading-relaxed md:w-[100%]">
                    Quis ultricies vestibulum aliquet dolor scelerisque nibh orci adipiscing consectetur diam vel vulputate felis, pretium
                    sociis imperdiet praesent lorem enim donec porttitor euismod facilisi.
                </p>
            </div>    
        </div>
</div>
<app-qualities/>
    <div class="max-w-[700px] min-w-[700px] mx-auto flex items-center gap-10 flex-col justify-center">
        <div class="text-sm font-semibold">COURSES</div>
        <h2 class="text-4xl font-bold">What You Will Learn</h2>
        <p class="text-black/50 text-center">
        Tellus nulla lectus faucibus vitae, non sem sollicitudin nunc ipsum volutpat dolor nec facilisis pulvinar mus ut egestas
        ultrices amet, ridiculus senectus at.
        </p>
  </div>
  <app-lesson-card/>
  <app-footer/>
