@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lexend:wght@400;600;700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center; /* Centre les éléments */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
  padding: 1rem; /* Ajout d'un padding pour les petits écrans */
}

.counter{
  display: flex;
  flex-direction: column;
  margin: 25px; /* Marge par défaut pour les grands écrans */
}

.counter-number{
  color: #131416;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;
}

.counter-label{
  color: #7a7a7a;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
}

/* Media Queries */

/* Pour les écrans plus petits que 768px (tablettes et mobiles) */
@media (max-width: 768px) {
  .counter {
    margin: 15px; /* Réduire les marges */
  }

  .counter-number {
    font-size: 30px;
    line-height: 30px;
  }

  .counter-label {
    font-size: 12px;
    line-height: 20px;
  }
}

/* Pour les écrans très petits (mobiles) */
@media (max-width: 480px) {
  .counter {
    margin: 10px; /* Réduire encore les marges */
    flex-basis: 100%; /* Chaque compteur prend toute la largeur */
  }

  .counter-number {
    font-size: 25px;
    line-height: 25px;
  }

  .counter-label {
    font-size: 10px;
    line-height: 18px;
  }
}