.fixer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.container{
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.metrics{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #131407;
  border-bottom: 1px solid #131407;
  height: 170px;
  width: 100%;
}