button{
  cursor: pointer;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  transition: all ease 0.5s;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.w-100{
    width: 100%;
}
.w-mc{
    width:max-content;
}
.m-auto{
    margin: auto;
}
li{
    list-style-type: none;
}
.text-c{
    text-align: center;
}
.flex{
    display: flex;
}
.just-c{
    justify-content: center;
}
.align-c{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.bet{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.mt-100{
    margin-top: 100px;
}
.text-lay{
    font-size: 1.15rem;
    line-height: 1.8rem;
    color: rgba(35, 34, 34, 0.822);
}
.p-10{
    padding: 10px;
}
button{
    appearance: none;
    outline: none;
    border-radius: none;
}
.round-10{
    border-radius: 10px;
}
.round-15{
    border-radius: 10px; 
}
.round-20{
    border-radius: 20px;
}
.align-base{
    align-items: baseline;
}
.gap-10{
    gap:10px;
}
.gap-25{
    gap: 25px;
}
.gap-40{
    gap:40px;
}