/* You can add global styles to this file, and also import other style files */
:root{
    --bg-footer: #131416;
    --bg-learn: #FCD75F;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.w-100{
    width: 100%;
}
.w-mc{
    width:max-content;
}
li{
    list-style-type: none;
}
.flex{
    display: flex;
}
.just-c{
    justify-content: center;
}
.align-c{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.bet{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.m-10{
    margin: 10px;
}
.p-10{
    padding: 10px;
}
button{
    appearance: none;
    outline: none;
    border-radius: none;
}
.round-10{
    border-radius: 10px;
}
.round-15{
    border-radius: 10px; 
}
.round-20{
    border-radius: 20px;
}
.align-base{
    align-items: baseline;
}
.gap-10{
    gap:10px;
}
.gap-25{
    gap: 25px;
}
.gap-40{
    gap:40px;
}