<div class="container">
  <div class="wrapper">
    <div class="left">
      <img src="images/imgi_6_ecourse-template-homepage-about-img.png" alt="Image Dylan">
      <div class="socials">
        <img src="images/medium.svg" alt="Medium icon">
        <img src="images/twitter.svg" alt="Twiter icon">
        <img src="images/facebook.svg" alt="Facebook icon">
        <img src="images/linkedin.svg" alt="Linkedin icon">
      </div>
    </div>
    <div class="right">
      <p class="title">About The Author</p>
      <h2>
        Dylan Collin Is a Senior Javascript Developer Based in New York.
      </h2>
      <p class="description-1">
        Sapien hendrerit consequat pulvinar hac porttitor congue ac imperdiet vitae porta sed duis tristique arcu eget purus sit
        id quisque amet ornare et aliquet neque tellus amet.
      </p>
      <p class="description-2">
        Auctor pretium, sit vulputate diam egestas mauris, urna scelerisque dignissim volutpat purus velit lacus, vitae volutpat
        lacus amet quisque integer in urna adipiscing diam tincidunt enim vestibulum maecenas laoreet aliquam sed porttitor.
      </p>
      <a href="#">Read More -></a>
    </div>
  </div>
</div>